extends ../layout
block content
 .row
  .col-sm-12
     img(class="image" id ="innerImage" style="width:30%;float:left" src="https://www.kickmobiles.com/images/thumbs/0009689_apple-iphone-xs-a2097-58-gold-space-grey-silver.jpeg")
     h1 Iphone X
     br
     h2 Price: 20002
      br
 hr
 div(class="row" id="extendableRow")
    div(class="col-sm-12")
        a(href="/product/cart/5f3053fbfd327e08b8d5514e" class="btn btn-info" onclick="something()" style="margin-left:2%") Add to cart
        a(href="/" class="btn btn-warning" style="margin-left:2%") Buy Now
        hr
        p(style="display:none;font-size:32px;font-family:Lucida Console, Courier, monospace;color:red;" id="check") Hello
 h1 SPECIFICATION
 table(class="table")
   tbody
    th(style="color:Red;font-size: 28px") RAM
    th 3GB
   tbody
    th(style="color:Red;font-size: 28px") MEMORY
    th 256GB
   tbody
    th(style="color:Red;font-size: 28px") MAIN CAMERA
    th 12 MP, f/1.8, 28mm (wide), 1/3", 1.22µm, dual pixel PDAF, OIS
   tbody
    th(style="color:Red;font-size: 28px") BATTERY
    th Non-removable Li-Ion 2716 mAh battery (10.35 Wh)
   tbody
    th(style="color:Red;font-size: 28px") DISPLAY
    th 1125 x 2436 pixels, 19.5:9 ratio (~458 ppi density)
   tbody
    th(style="color:Red;font-size: 28px") CHIPSET
    th Apple A11 Bionic (10 nm)
   tbody
    th(style="color:Red;font-size: 28px") PLATFORM
    th iOS 11.1.1, upgradable to iOS 13.6
   tbody
    th(style="color:Red;font-size: 28px") BODY
    th 143.6 x 70.9 x 7.7 mm (5.65 x 2.79 x 0.30 in)