extends ../layout
block content
 .row
  .col-sm-12
     img(class="image" style="width:30%;float:left" src="undefined")
     h1 undefined
     br
     h2 Price: undefined
      br
 hr
 div(class="row" id="extendableRow")
    div(class="col-sm-12")
        a(href="/product/cart/undefined" class="btn btn-info" onclick="something()" style="margin-left:2%") Add to cart
        a(href="/" class="btn btn-warning" style="margin-left:2%") Buy Now
        hr
        p(style="display:none;font-size:32px;font-family:Lucida Console, Courier, monospace;color:red;" id="check") Hello
 h1 SPECIFICATION
 table(class="table")
   tbody
    th(style="color:Red;font-size: 28px") RAM
    th undefined
   tbody
    th(style="color:Red;font-size: 28px") MEMORY
    th undefined
   tbody
    th(style="color:Red;font-size: 28px") MAIN CAMERA
    th 12 MP, f/1.8, 28mm (wide), 1/3", 1.22µm, dual pixel PDAF, OIS
   tbody
    th(style="color:Red;font-size: 28px") BATTERY
    th Non-removable Li-Ion 2716 mAh battery (10.35 Wh)
   tbody
    th(style="color:Red;font-size: 28px") DISPLAY
    th 1125 x 2436 pixels, 19.5:9 ratio (~458 ppi density)
   tbody
    th(style="color:Red;font-size: 28px") DISPLAY
    th 1125 x 2436 pixels, 19.5:9 ratio (~458 ppi density)
   tbody
    th(style="color:Red;font-size: 28px") DISPLAY
    th 1125 x 2436 pixels, 19.5:9 ratio (~458 ppi density)
   tbody
    th(style="color:Red;font-size: 28px") DISPLAY
    th 1125 x 2436 pixels, 19.5:9 ratio (~458 ppi density)